* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: white;
}

.container{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
a{
    text-decoration: none;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* Navbar */
nav{
    position: fixed;
    font-family: "Montserrat", sans-serif;
    background-color: darkslategrey;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    z-index: 500;
}

#logo-box .logo{
    color: white;
    font-weight: 400;
    font-size: 3.2rem;
}

#logo-box{
    float: left;
    padding-top: 0.5rem;

}

#nav-links{
    float: right;
}
#nav-links .nav-item{
    float: left;
    margin: 0.9rem;
}
#nav-links .nav-link{
    color: white;
    font-size: 1.6;
    font-weight: 400;
    display: block;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.6s;
}
ul{
    list-style-type: none;
}
#nav-links .nav-link:hover{
    color: aquamarine;
}
header{
    background-color: aquamarine;
    height: 1500px;
    padding-top: calc(114px + 6rem);
    text-align: center;
}
.img-fluid{
    max-width: 256px;
    height: auto;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

header h1{
    color: white;
    font-size: 6rem;
}
.star-light,.star-dark{
    border: none;
    border-top: 0.4rem solid;
    max-width: 25rem;
    border-radius: 10px;
    margin: 2.5rem auto;
    overflow: visible;
}
hr.star-light{
    border-color: white;
}

hr.star-dark{
    border-color: gray;
}

.star-light::after, .star-dark::after{
    content: "\2605";
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -27px;
    padding: 0 8px;
}

.star-light::after{
    color: white;
    background-color: aquamarine;
}
.star-dark::after{
    color: gray;
    background-color: white;
}
header h2{
    color: white;
    font-size: 2.5rem;
    font-family: "Lato", sans-serif;
}
/* Portfolio */
#portfolio{
    height: 600px;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;

}
#portfolio h2{
    font-size: 4.8rem;
    color: gray;
}
.col{
    float: left;
    width: 33.33%;
    padding: 10px;
}
.portfolio-item{
    background-color:saddlebrown ;
    height: 100%;
    position: relative;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.portfolio-item img{
    display: block;
}
.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:aquamarine;
    opacity: 0;
    transition: opacity 0.4s;
}
.img-overlay .icon{
    color: white;
    font-size: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
.portfolio-item:hover .img-overlay{
    opacity: 0.8;
    
}