html{
    font-size: 15px;
}

body{
    font-family: Arial;
    background: white;
    padding: 20px;
}
h1{
    text-align: center;
    font-size: 1.6rem;
}
.dashboard{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.card{
    font-size: 1.1rem;
    flex: 1;
    background-color: burlywood;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.input{
    padding: 8px;
    font-size: 1.2rem;
}
button{
    padding-left: 25px;
    padding-right: 25px;
    transition: 0.5s
}
button:hover{
    background-color:lightseagreen;
    color: white;
    
}

form{
    display: flex;
    gap: 2rem;
    margin-bottom: 10px;
    
}
#list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.status-accepted { color: green; font-weight: bold; }
.status-rejected { color: red; font-weight: bold; }
.status-interview { color: orange; }

.card, .app-card{
    box-shadow: 0 2px 8px rgba(0,0,0,0,15);
    transition: 0.3s;
}
.card:hover, .app-card:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
form input, form select, form button{
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}


@media (min-width:576px){
    html{
        font-size: 8px;
    }  
}
@media (min-width:768px){
    html{
        font-size: 10px;
    }
}
@media (min-width:992px){
    html{
        font-size: 12px;
    }
}
@media (min-width:1200px){
    html{
        font-size: 15px;
    }
}