*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 7px;
}
img{
    width: 100%;
    height: auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
body{
    font-family: "Chivo", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    background-color: gray;
    color: white;
}
a{
    text-decoration: none;
}
p{
    padding: 1.6rem 0;;
}
header{
    height: 46rem;

}
header .bg-image{
    position: absolute;
    background-image: url("Images/images1.jpg");
    background-size: cover;
    background-position: center;
    height: 46rem;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}
header h1{
    padding: 12rem;
    padding-bottom: 0;
}
.btn{
    display: inline-block;
    background: #333;
    color: #fff;
    border: 1px solid #666;
    padding: 1.6rem 3.2rem;
    margin: 0.5rem 0;
    transition: 0.4s;
}
.btn:hover{
    background-color: #fff;
    color: #333;
}
#A {
    background-color: white;
    color: #333;
    padding: 3.2rem 0;
}
#B{
    padding: 2rem;
}

#B ul{
    list-style: none;
}
#B li{
    background-color: #fff;
    color: #333;
    margin-bottom: 1.5rem;
}
.col-content{
    padding: 1.5rem;
}
#C{
    background-color: #fff;
    color: #333;
    padding: 5rem;
}
#D .box{
    padding: 5rem;

}
#D .box:first-child{
    background-color: darkslategrey;
}
footer{
    padding: 4rem;
    background: black;
}
footer a{
    color: yellowgreen;
}
@media screen and (min-width:800px){
    html{
        font-size: 9px;
    }
}
@media  screen and (min-width:1200px) {
    html{
        font-size: 11px;
    }
    #B li{
        width: 28%;
        margin: 1%;
        display: inline-block;

    }
    .box{
        width: 50%;
        float: left;
    }
}